.partners_title{
    padding-bottom: 60px;
}

.partners_box {
    max-width: 1280px;
    overflow: hidden;
    padding: 10px 0;
}

.marquee {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(300px * 8);
    animation: none;
}

.partners {
    display: flex;
    gap: 24px;
    align-items: center;
}

.partners_card {
    width: 300px;
    height: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #2D487D0D;
    padding: 20px;
    border: 1px solid #F75929;
}

.partners_card img {
    width: 100%;
}

@media (max-width:1024px) {
    .partners_card {
        width: 250px;
    }
}

@media (max-width:750px) {
    .partners_card {
        width: 220px;
    }
}