.qorakol_title {
    font-family: Bebas Neue;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    color: #F75929;
    margin-bottom: 40px;
}

.qorakol {
    display: grid;
    gap: 32px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.left_content {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #2D487D;
}

.qorakol_btn_students {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 24px;
}

.qorakol_btn {
    padding: 21px;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.stats {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #2D487D;
}

.studet_size {
    color: #F75929;
}


.qorakol_students_size{
    display: flex;
    align-items: center;
    gap: 8px;
}

.qorakol_students{
    display: flex;
}

.qorakol_students_img1{
    z-index: 1;
}

.qorakol_students_img2{
    z-index: 2;
    margin-left: -15px;
}

.qorakol_students_img3{
    z-index: 3;
    margin-left: -15px;
}



.right_content {
    position: relative;
}

.right_content img {
    border-radius: 24px;
    width: 100%;
}

.right_content_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right_content_btn button{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}


.vido_iframe{
    display: none;
    position: fixed;
    background: rgb(92, 85, 85, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000000;
    opacity: 0;
    transition: opacity .5s ease;

}


.vido_iframe iframe{
    /* display: none */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000001;
}

.iframe_close{
    top: 50px;
    z-index: 1000002;
    background: #726a6a;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: rotate(45deg);
    position: absolute;
    right: 50px;
    cursor: pointer;
}

.iframe_close img{
    width: 60px;
}

.show_iframe{
    display: block;
    opacity: 1;
}