.enroll{
    background: #F7F9FC;
}

.enroll_box{
    background: #F75929;
    color: white;
    padding: 60px;
    border-radius: 36px;
}

.enroll_title{
    color: white;
    max-width: 792px;
    margin: 0 auto;
}

.enroll_box_respons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 40px;
    margin: 0 20px;
    height: 64px;
    margin-top: 60px;
    margin-bottom: 24px;
}

.enroll_box_name     {
    border: none;
    outline: none;
    padding: 20px 24px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: justified;
    border-radius: 8px;
}

.enroll_box_phone{
    background: #fff;
    display: flex;
    border-radius: 8px;
    padding: 20px 18px;
}

.enroll_box_phone input{
    flex-grow: 1;
    border: none;
    outline: none;
    padding:  0 8px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;

}

.phone-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}

.phone-input img {
    margin-right: 10px;
    width: 25px;
    height: auto;
}
.phone-input label{
    width: 48px;
    font-size: 18px;
    padding-top: 2px;
}

#phoneInput {
    border: none;
    outline: none;
    font-size: 18px;
    flex-grow: 1;
}



.enroll_box_btn{
    border-radius: 8px;
    background: #2D487D;
    outline: none;
    border: none;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: justified;
    cursor: pointer;
}

.enroll_operator{
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    color: white;
}