
.questions_news{
    margin-top: 60px;
    display: flex;
    gap: 60px;
    align-items: center;

}

.questions{
    display: grid;
    gap: 24px;
    max-width: 480px;
    /* width: 100%; */
}

.questions .btn-plyus{
    height: 64px;
    padding: 12px 20px;
    background: #2D487D;
    border-radius: 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news{
    display: flex;
    gap: 20px;
}


.news_card{
    position: relative;
    padding: 16px;
    border: 1px solid #F75929;
    border-radius: 24px;
    max-width: 360px;
    max-height: 506px;
}


.news_card_img img{
    width: 100%;
    border-radius: 16px;
    max-height: 222px;
    object-fit: cover;
}

.news_card_img{
    margin-bottom: 17px;
}

.news_card_title{
    font-family: Bebas Neue;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #F75929;
}

.news_card_text{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-top: 17px;
}



.question_answers{
    background: #2D487D;
    border-radius: 16px;
    padding: 8px 5px;
}


.btn-plyus{
    display: flex;
    justify-content: space-between;
}

.btn-plyus p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: white;
}

.savollar_btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.savollar_btn img {
    transition: transform 0.5s ease;
}

.rotate {
    transform: rotate(45deg);
}


.answer {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    padding: 0 25px ;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: white;
}


.answer.show {
    height: 40px;
    opacity: 1;
}

