.partners{
    display: flex;
    gap: 24px;
    align-items: center;
}

.partners_title{
    margin-bottom: 60px;
}

.partners_card{
    width: 300px;
    height: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}

.partners_card img{
    width: 100%;
}