.why_qorakol_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.why_qorakol_title{
    max-width: 620px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.why_qorakol_card {
    background-color: white;
    border: 2px solid #F75929;
    border-radius: 16px;
    padding: 22px 20px;
    text-align: center;
    transition:  0.3s ease;
    width: 100%;
}

.why_qorakol_card:hover {
    background-color: #F75929;
    color: white;
    border: 2px solid white;
}

.icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.why_qorakol_card_title{
    color: #F75929;
    margin-bottom: 10px;
    font-family: Bebas Neue;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    transition: .3s ease;
}

.why_qorakol_cart_text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #2D487D;
    transition: .3s ease;
}

.why_qorakol_icon_card{
    background: #F75929;
    width: 101px;
    height: 88px;
    left: 20px;
    padding: 20px 27px 20px 26px;
    gap: 0px;
    border-radius: 0px 0px 16px 16px;
    opacity: 0px;
    margin-top: -22px;
    margin-bottom: 28px;
    transition: .3s ease;
}

.why_qorakol_card:hover .why_qorakol_icon_card{
    background: white;
}

.why_qorakol_card:hover .why_qorakol_card_title{
color: white;
}

.why_qorakol_card:hover .why_qorakol_cart_text{
    color: white;
}

.why_qorakol_icon_card{
    transition: .3s;
}

.why_qorakol_card:hover .why_qorakol_icon1 {
    content: url(../image/why_qorakol/icon1\ copy.svg);
}

.why_qorakol_card:hover .why_qorakol_icon2 {
    content: url(../image/why_qorakol/icon2\ copy\ 2.svg);
}
.why_qorakol_card:hover .why_qorakol_icon3 {
    content: url(../image/why_qorakol/icon3\ copy.svg);
}

.why_qorakol_card:hover .why_qorakol_icon4 {
    content: url(../image/why_qorakol/icon4\ copy.svg);
}

.why_qorakol_card:hover .why_qorakol_icon5 {
    content: url(../image/why_qorakol/icon5\ copy.svg);
}

.why_qorakol_card:hover .why_qorakol_icon6 {
    content: url(../image/why_qorakol/icon6\ copy.svg);
}



