.thoughts_title {
    max-width: 681px;
    margin: 0 auto;
}

.thoughts_swiper{
    margin-top: 60px;
}

.thoughts_box {
    margin-top: 60px;
}

#card-wrapper {
    padding-left: 0;
}

.thoughts_box_flex {
    display: flex;
    gap: 20px;
}

.thoughts_card_item_img_box {
    position: relative;
    padding: 16px;
    border: 1px solid #F75929;
    border-radius: 24px;
    max-width: 340px;
    max-height: 506px;
    margin-bottom: 20px;
}

.img_thoughts_rel{
    position: relative;
}

.thoughts_card_item:nth-last-child(2n) {
    margin-top: 70px;
}

.thoughts_card_btn {
    position: relative;
}



.thoughts_card_item_img_box img {
    border-radius: 16px;
    width: 100%;
}

.thoughts_card_title {
    font-family: Bebas Neue;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color: #F75929;
}

.thoughts_card_text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    max-width: 304px;
    text-align: left;
    color: #2D487D;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
display: none;
}


/* ----------------------------------------- */


@media (max-width:1024px) {
    .thoughts_card {
        max-width: 300px;
    }
}

@media (max-width:1024px) {
    .thoughts_card {
        max-width: 280px;
    }
}

@media (max-width:850px) {
    .thoughts_card_item:nth-last-child(2n) {
            margin-top: 0;
        }
}

@media (max-width:550px) {
    .thoughts_card_title {
        font-size: 22px;
    }
}

@media (max-width:508px) {
   .thoughts_card_item_img_box{
    margin-left: auto;
    margin-right: auto;
   }
}