.enroll {
    background: #F7F9FC;
}

.enroll_box {
    background: #F75929;
    color: white;
    padding: 60px;
    border-radius: 36px;
}

.enroll_title {
    color: white;
    max-width: 792px;
    margin: 0 auto;
}

.enroll_box_respons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 40px;
    margin: 0 20px;
    height: 64px;
    margin-top: 60px;
    margin-bottom: 24px;
}

.enroll_box_name {
    border: 18px 20px;
    ;
    outline: none;
    padding: 20px 24px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: justified;
    border-radius: 8px;
    border: none;
}

.enroll_box_phone {
    background: #fff;
    display: flex;
    border-radius: 8px;
    padding: 20px 18px;
}

.enroll_box_phone input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0 8px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;

}

.phone-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}

.phone-input img {
    margin-right: 10px;
    width: 25px;
    height: auto;
}

.phone-input label {
    width: 48px;
    font-size: 18px;
    padding-top: 2px;
}

#phoneInput {
    border: none;
    outline: none;
    font-size: 18px;
    flex-grow: 1;
}



.enroll_box_btn {
    border-radius: 8px;
    background: #2D487D;
    outline: none;
    border: none;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: justified;
    cursor: pointer;
    transition: .3s;
}

.enroll_box_btn:hover {
    background: #2b55aa;
}

.enroll_box_btn:active {
    transform: scale(0.9);
}

.enroll_operator {
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    color: white;
}


@media (max-width:1180px) {

    .enroll_title {
        font-size: 35px;
        line-height: 40px;
    }

    .enroll_box_btn {
        font-size: 20px;
    }

    .enroll_box {
        padding: 40px 30px;
    }

    .enroll_box_phon {
        width: 100%;
    }


}

@media (max-width:1070px) {



    .enroll_box_respons {
        position: relative;
        margin-bottom: 80px;
        grid-template-columns: repeat(2, 1fr);
    }

    .enroll_box_btn {
        position: absolute;
        bottom: -65px;
        right: 0;
        padding: 12px;

    }
}


@media (max-width:850px) {
    .enroll_box_respons {
        align-items: center;
    }

    .enroll_title {
        font-size: 30px;
    }

    .enroll_box_name {
        padding: 12px 15px;
        border: none;
    }
}

@media (max-width:800px) {

    .enroll_title {
        font-size: 28px;
    }

    .enroll_box_respons {
        height: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .enroll_box_respons {
        /* display: block; */
        grid-template-columns: repeat(1, 1fr);
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .enroll_box_btn {
        position: static;
    }
}

@media (max-width:550px) {
    .enroll_title {
        font-size: 20px;
        line-height: 35px;
    }
}

@media (max-width:450px) {
    .enroll_box {
        width: 100%;
    }

    .enroll_box_respons {
        gap: 10px;
    }

    .enroll_box_phon input {
        width: 30%;
    }

    .enroll_box_btn {
        font-size: 16px;
    }

    .enroll_operator {
        font-size: 14px;
    }
}